Repository sam-notte/notte: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-forbidden-imports, check-playwright-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.10
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi ]
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ]

  - repo: https://github.com/DetachHead/basedpyright-pre-commit-mirror
    rev: 1.27.1
    hooks:
      - id: basedpyright
        args: ["--project", "."]
        verbose: true
        exclude: ^(docs/src/|examples/)

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: ^(.*/README\.md|.*/pyproject\.toml|docs/archives/20250306_README\.md|README\.md||tests/data/.*|docs/src/.*)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        types: [file]
        exclude: ^(.*/README\.md|.*/pyproject\.toml|docs/archives/20250307_README\.md|README\.md|.*\.(gif|png|ico))$
      - id: end-of-file-fixer
        types: [file]
        exclude: ^(.*/README\.md|.*/pyproject\.toml|docs/archives/20250307_README\.md|README\.md|.*\.(gif|png|ico))$
      - id: check-yaml
        types: [file]
        files: \.(yaml|yml)$
      - id: check-json
        types: [file]
        files: \.json$

  - repo: local
    hooks:
      - id: check-forbidden-imports
        name: Check for forbidden imports in notte packages
        entry: scripts/check_forbidden_imports.sh
        language: system
        types: [python]
        files: ^packages/(notte-core|notte-sdk)/
      - id: check-playwright-imports
        name: Check for playwright/patchright imports in notte packages
        entry: scripts/check_playwright_imports.sh
        language: system
        types: [python]
        files: ^packages/

add script error mode and selector (#476)
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-core/src/notte_core/actions.py
  packages/notte-core/src/notte_core/space.py
  packages/notte-mcp/src/notte_mcp/server.py
  packages/notte-sdk/src/notte_sdk/endpoints/sessions.py
  packages/notte-sdk/src/notte_sdk/types.py
Due: check-forbidden-imports, check-playwright-imports

fix cicd (#477)
  tests/agent/reference_fail_completion_messages.json
  tests/agent/reference_messages.json
Due: none

Better scrape signature (#478)
  docs/scraping_tutorial.md
  docs/sdk_tutorial.md
  docs/src/concepts/sessions.mdx
  docs/src/sdk-reference/misc/remotesession.mdx
  docs/src/snippets/pages/index.mdx
  docs/src/snippets/pages/linkedin_step.mdx
  docs/src/snippets/personas/index.mdx
  docs/src/snippets/scraping/simple.mdx
  docs/src/snippets/scraping/structured.mdx
  examples/github-auto-issues-trending-repos/agent.py
  examples/scrape-logo/agent.py
  packages/notte-agent/src/notte_agent/agent.py
  packages/notte-browser/src/notte_browser/errors.py
  packages/notte-browser/src/notte_browser/scraping/pipe.py
  packages/notte-browser/src/notte_browser/scraping/schema.py
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-core/src/notte_core/data/space.py
  packages/notte-mcp/src/notte_mcp/server.py
  packages/notte-sdk/README.md
  packages/notte-sdk/src/notte_sdk/client.py
  packages/notte-sdk/src/notte_sdk/endpoints/page.py
  packages/notte-sdk/src/notte_sdk/endpoints/personas.py
  packages/notte-sdk/src/notte_sdk/endpoints/sessions.py
  packages/notte-sdk/src/notte_sdk/endpoints/vaults.py
  packages/notte-sdk/src/notte_sdk/types.py
  tests/integration/sdk/test_scraping.py
  tests/integration/test_special_actions.py
Due: check-forbidden-imports, check-playwright-imports

better pydantic schema generation (#480)
  packages/notte-browser/src/notte_browser/scraping/schema.py
  packages/notte-core/src/notte_core/utils/pydantic_schema.py
  packages/notte-mcp/src/notte_mcp/server.py
  packages/notte-sdk/src/notte_sdk/client.py
  packages/notte-sdk/src/notte_sdk/endpoints/base.py
  packages/notte-sdk/src/notte_sdk/types.py
  tests/integration/sdk/test_scraping.py
  tests/sdk/test_client.py
  tests/utils/test_pydantic_utils.py
Due: check-forbidden-imports, check-playwright-imports

Proxy and bugfixes (#481)
  .github/workflows/benchmark.yml
  .github/workflows/docs-tests-cicd.yml.yml
  .github/workflows/nightly-examples.yml
  .github/workflows/test-cicd.yml
  packages/notte-browser/src/notte_browser/dom/parsing.py
  packages/notte-browser/src/notte_browser/errors.py
  packages/notte-browser/src/notte_browser/playwright.py
  packages/notte-browser/src/notte_browser/playwright_async_api.py
  packages/notte-browser/src/notte_browser/window.py
  packages/notte-sdk/src/notte_sdk/endpoints/agents.py
Due: check-forbidden-imports, check-playwright-imports

Update readme (#482)
  README.md
Due: none

Update README.md (#483)
  README.md
Due: none

Add persona in api (#485)
  docs/src/tests/test_snippets.py
  packages/notte-agent/src/notte_agent/gufo/agent.py
  packages/notte-agent/src/notte_agent/main.py
  packages/notte-browser/src/notte_browser/resolution.py
  packages/notte-browser/src/notte_browser/tools/base.py
  packages/notte-sdk/src/notte_sdk/endpoints/agents.py
  packages/notte-sdk/src/notte_sdk/endpoints/personas.py
  packages/notte-sdk/src/notte_sdk/types.py
  tests/integration/sdk/test_personas.py
Due: check-forbidden-imports, check-playwright-imports

cleanup cookies api (#486)
  README.md
  docs/src/snippets/sessions/extract_cookies_notte.mdx
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-browser/src/notte_browser/window.py
  packages/notte-sdk/src/notte_sdk/__init__.py
  packages/notte-sdk/src/notte_sdk/endpoints/sessions.py
  packages/notte-sdk/src/notte_sdk/types.py
  packages/notte-sdk/src/notte_sdk/utils.py
  tests/integration/sdk/test_cookies.py
  tests/sdk/test_dict_types.py
Due: check-forbidden-imports, check-playwright-imports

add pricing to docs
  docs/src/docs.json
  docs/src/intro/pricing.mdx
Due: none

clarify pricing (#488)
  docs/src/intro/pricing.mdx
Due: none

Add type to captcha solve action (#484)
  packages/notte-core/src/notte_core/actions.py
Due: check-forbidden-imports, check-playwright-imports

add notte chapter (#487)
  packages/notte-agent/src/notte_agent/__init__.py
  packages/notte-agent/src/notte_agent/agent.py
  packages/notte-agent/src/notte_agent/chapter.py
  packages/notte-agent/src/notte_agent/falco/agent.py
  packages/notte-agent/src/notte_agent/gufo/agent.py
  packages/notte-agent/src/notte_agent/main.py
  packages/notte-browser/src/notte_browser/controller.py
  packages/notte-browser/src/notte_browser/errors.py
  packages/notte-browser/src/notte_browser/session.py
  src/notte/__init__.py
  tests/chapter/test_chapter.py
Due: check-playwright-imports

add scripts endpoints (#491)
  packages/notte-agent/src/notte_agent/agent.py
  packages/notte-agent/src/notte_agent/chapter.py
  packages/notte-browser/src/notte_browser/controller.py
  packages/notte-browser/src/notte_browser/resolution.py
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-browser/src/notte_browser/window.py
  packages/notte-core/pyproject.toml
  packages/notte-core/src/notte_core/actions.py
  packages/notte-core/src/notte_core/ast.py
  packages/notte-core/src/notte_core/browser/dom_tree.py
  packages/notte-core/src/notte_core/common/config.py
  packages/notte-core/src/notte_core/config.toml
  packages/notte-mcp/src/notte_mcp/server.py
  packages/notte-sdk/src/notte_sdk/client.py
  packages/notte-sdk/src/notte_sdk/endpoints/scripts.py
  packages/notte-sdk/src/notte_sdk/endpoints/sessions.py
  packages/notte-sdk/src/notte_sdk/types.py
  packages/notte-sdk/src/notte_sdk/utils.py
  scripts/check_forbidden_imports.sh
  src/notte/__init__.py
  tests/agent/reference_fail_completion_messages.json
  tests/agent/reference_messages.json
  tests/chapter/test_chapter.py
  tests/config/test_env_config.py
  tests/integration/sdk/test_interaction.py
  tests/integration/sdk/test_scripts.py
  tests/integration/test_basic_scripts.py
  tests/integration/test_special_actions.py
  tests/integration/test_webvoyager_scripts.py
  tests/mock/mock_browser.py
  tests/scripts/__init__.py
  tests/scripts/sample_script.py
  tests/scripts/test_validator.py
  tests/test_session.py
  uv.lock
Due: check-forbidden-imports, check-playwright-imports

add agent fallback (#493)
  packages/notte-agent/src/notte_agent/__init__.py
  packages/notte-agent/src/notte_agent/agent_fallback.py
  packages/notte-core/src/notte_core/ast.py
  packages/notte-sdk/pyproject.toml
  pyproject.toml
  src/notte/__init__.py
  tests/chapter/test_agent_fallback.py
  tests/scripts/test_validator.py
Due: check-forbidden-imports, check-playwright-imports

update lock (#494)
  uv.lock
Due: none

allow disable tracing (#495)
  packages/notte-core/src/notte_core/common/tracer.py
  packages/notte-sdk/src/notte_sdk/endpoints/scripts.py
Due: check-forbidden-imports, check-playwright-imports

add scripts variables (#497)
  packages/notte-core/src/notte_core/ast.py
  packages/notte-sdk/src/notte_sdk/endpoints/scripts.py
  tests/scripts/test_validator.py
Due: check-forbidden-imports, check-playwright-imports

Rename scripts workflows (#498)
  packages/notte-core/src/notte_core/ast.py
  packages/notte-sdk/src/notte_sdk/client.py
  packages/notte-sdk/src/notte_sdk/endpoints/scripts.py
  packages/notte-sdk/src/notte_sdk/endpoints/workflows.py
  packages/notte-sdk/src/notte_sdk/types.py
  tests/integration/sdk/test_workflows.py
  tests/scripts/test_validator.py
Due: check-forbidden-imports, check-playwright-imports

Fix OpenAI version (#499)
  packages/notte-core/pyproject.toml
  uv.lock
Due: none

add script run (#500)
  packages/notte-sdk/src/notte_sdk/endpoints/workflows.py
  packages/notte-sdk/src/notte_sdk/types.py
  tests/integration/sdk/test_workflows.py
Due: check-forbidden-imports, check-playwright-imports

[wip] nicer bounding boxes (#473)
  packages/notte-browser/src/notte_browser/dom/buildDomNode.js
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-core/src/notte_core/browser/highlighter.py
  packages/notte-core/src/notte_core/browser/observation.py
Due: check-forbidden-imports, check-playwright-imports

fix readme issues (#504)
  README.md
  scripts/test_release.sh
Due: none

add agent fallback in readme (#505)
  README.md
Due: none

add workflwos in docs (#507)
  docs/src/concepts/workflows.mdx
  docs/src/docs.json
  docs/src/intro/what-is-notte.mdx
  docs/src/snippets/workflows/index.mdx
  packages/notte-sdk/src/notte_sdk/endpoints/workflows.py
Due: check-forbidden-imports, check-playwright-imports

pytest parallel logical (#508)
  .github/workflows/test-cicd.yml
  pyproject.toml
  uv.lock
Due: none

More fixes (#502)
  makefile
  packages/notte-agent/src/notte_agent/falco/perception.py
  packages/notte-agent/src/notte_agent/gufo/perception.py
  packages/notte-browser/src/notte_browser/playwright.py
  packages/notte-browser/src/notte_browser/scraping/markdown.py
  packages/notte-browser/src/notte_browser/scraping/pipe.py
  packages/notte-browser/src/notte_browser/scraping/schema.py
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-browser/src/notte_browser/tagging/action/pipe.py
  packages/notte-core/src/notte_core/browser/observation.py
  packages/notte-core/src/notte_core/common/config.py
  packages/notte-core/src/notte_core/credentials/base.py
  packages/notte-core/src/notte_core/llms/engine.py
  packages/notte-core/src/notte_core/llms/service.py
  packages/notte-core/src/notte_core/llms/types.py
  packages/notte-integrations/src/notte_integrations/sessions/cdp_session.py
  packages/notte-mcp/src/notte_mcp/server.py
  packages/notte-sdk/src/notte_sdk/client.py
  packages/notte-sdk/src/notte_sdk/endpoints/base.py
  packages/notte-sdk/src/notte_sdk/types.py
  packages/notte-sdk/src/notte_sdk/utils.py
  tests/actions/test_execution.py
  tests/actions/test_form_fill.py
  tests/browser/test_clipboard_isolation.py
  tests/config/test_env_config.py
  tests/integration/sdk/test_interaction.py
  tests/integration/sdk/test_sessions.py
  tests/integration/test_basic_scripts.py
  tests/integration/test_resolution.py
  tests/integration/test_special_actions.py
  tests/integration/test_webvoyager_scripts.py
  tests/pipe/action/test_listing.py
  tests/sdk/test_client.py
  tests/test_session.py
Due: check-forbidden-imports, check-playwright-imports

fix scrape (#512)
  packages/notte-browser/src/notte_browser/scraping/markdown.py
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-sdk/src/notte_sdk/types.py
Due: check-forbidden-imports, check-playwright-imports

better file upload ft (#479)
  docs/src/features/sessions/storage.mdx
  docs/src/snippets/sessions/external_cdp.mdx
  docs/src/snippets/sessions/file_storage_basic.mdx
  docs/src/snippets/sessions/file_storage_download.mdx
  docs/src/snippets/sessions/file_storage_upload.mdx
  docs/src/snippets/sessions/file_storage_workflow.mdx
  docs/src/tests/test_snippets.py
  makefile
  packages/notte-browser/src/notte_browser/controller.py
  packages/notte-browser/src/notte_browser/dom/locate.py
  packages/notte-core/src/notte_core/actions.py
  packages/notte-core/src/notte_core/browser/dom_tree.py
  packages/notte-core/src/notte_core/storage.py
  packages/notte-sdk/src/notte_sdk/endpoints/files.py
  packages/notte-sdk/src/notte_sdk/endpoints/sessions.py
  packages/notte-sdk/src/notte_sdk/types.py
  tests/integration/sdk/file_storage/test_download.py
  tests/integration/sdk/file_storage/test_upload.py
Due: check-forbidden-imports, check-playwright-imports

Add upload download file 2 (#513)
  packages/notte-sdk/src/notte_sdk/endpoints/files.py
  packages/notte-sdk/src/notte_sdk/types.py
Due: check-forbidden-imports, check-playwright-imports

Screenshot after execution (#510)
  packages/notte-agent/src/notte_agent/agent.py
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-core/src/notte_core/browser/observation.py
  packages/notte-core/src/notte_core/trajectory.py
  packages/notte-sdk/src/notte_sdk/types.py
  tests/browser/test_screenshot_types.py
  tests/integration/sdk/test_personas.py
  tests/mock/mock_browser.py
  tests/test_trajectory.py
Due: check-forbidden-imports, check-playwright-imports

improve perception logging (#501)
  packages/notte-browser/src/notte_browser/session.py
  packages/notte-core/src/notte_core/llms/service.py
  tests/mock/mock_service.py
Due: check-forbidden-imports, check-playwright-imports

fix workflow parsing (#514)
  packages/notte-core/src/notte_core/ast.py
  packages/notte-sdk/src/notte_sdk/endpoints/workflows.py
  tests/integration/sdk/test_sessions.py
  tests/scripts/test_validator.py
Due: check-forbidden-imports, check-playwright-imports

small llm fixes (#517)
  packages/notte-agent/src/notte_agent/agent.py
  packages/notte-agent/src/notte_agent/common/perception.py
  packages/notte-agent/src/notte_agent/falco/prompt.py
  packages/notte-browser/src/notte_browser/errors.py
  packages/notte-core/src/notte_core/actions.py
  packages/notte-core/src/notte_core/common/config.py
  packages/notte-core/src/notte_core/llms/engine.py
  tests/agent/reference_fail_completion_messages.json
  tests/agent/reference_messages.json
Due: check-forbidden-imports, check-playwright-imports

add more models (#519)
  packages/notte-core/src/notte_core/common/config.py
  packages/notte-sdk/src/notte_sdk/client.py
  src/notte/__init__.py
  tests/llms/test_structured_output.py
Due: check-forbidden-imports, check-playwright-imports

fix raise replay bug (#520)
  packages/notte-sdk/src/notte_sdk/endpoints/base.py
Due: check-forbidden-imports, check-playwright-imports

fixes (#521)
  packages/notte-browser/src/notte_browser/playwright.py
  packages/notte-browser/src/notte_browser/window.py
  packages/notte-core/src/notte_core/actions.py
  packages/notte-core/src/notte_core/profiling.py
  packages/notte-core/src/notte_core/utils/pydantic_schema.py
  packages/notte-sdk/src/notte_sdk/endpoints/sessions.py
  packages/notte-sdk/src/notte_sdk/errors.py
  packages/notte-sdk/src/notte_sdk/types.py
  tests/agent/reference_fail_completion_messages.json
  tests/agent/reference_messages.json
Due: check-forbidden-imports, check-playwright-imports

Add workflows runs (#522)
  packages/notte-core/src/notte_core/ast.py
  packages/notte-sdk/src/notte_sdk/endpoints/agents.py
  packages/notte-sdk/src/notte_sdk/endpoints/base.py
  packages/notte-sdk/src/notte_sdk/endpoints/files.py
  packages/notte-sdk/src/notte_sdk/endpoints/page.py
  packages/notte-sdk/src/notte_sdk/endpoints/personas.py
  packages/notte-sdk/src/notte_sdk/endpoints/sessions.py
  packages/notte-sdk/src/notte_sdk/endpoints/vaults.py
  packages/notte-sdk/src/notte_sdk/endpoints/workflows.py
  packages/notte-sdk/src/notte_sdk/types.py
  packages/notte-sdk/src/notte_sdk/utils.py
  tests/integration/sdk/test_workflow_runs.py
Due: check-forbidden-imports, check-playwright-imports
